.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .userList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .userList {
    grid-template-columns: repeat(2, 1fr);
  }
}
